
@import "twitter/variables";
@import "twitter/mixins";

div.resource {
  // @include gridSystem-columns($gridGutterWidth, $gridColumnWidth, $gridRowWidth, 4);
  h4 {
    padding-top: 15px;
  }
}
div.metric {
  float: left;
  width: 300px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #999999;

  h5.title {
    text-transform: uppercase;
  }

  .graph {
    .na {
      height: 50px;
    }
  }

  h6.footer {
    margin-top: 5px;
  }
}

div.spacer {
  clear: both;
  height: 0px;
}
