.DS_Store
.agignore
.*tags

# logs/temp
log/
script/log/
script/temp/
tmp/
*/*.bak

# config
config/database.yml
config/mongoid.yml
config/bixby.yml

# build output
.micron/
.yardoc/
yardoc/
public/assets
public/dev-assets
pkg/
coverage/
features_rcov
.rvmrc
.powrc
.bundle
