.DS_Store

# logs/temp
log/*.log
script/log/
script/temp/
tmp/
db/devops_schema.mwb.bak

# config
config/database.yml
config/bixby.yml

# build output
.yardoc/
yardoc/
public/assets
pkg/
coverage/
features_rcov
.rvmrc
.powrc
.bundle
