.DS_Store

# logs/temp
log/
script/log/
script/temp/
tmp/
*/*.bak

# config
config/database.yml
config/mongoid.yml
config/bixby.yml

# build output
.yardoc/
yardoc/
public/assets
pkg/
coverage/
features_rcov
.rvmrc
.powrc
.bundle
