language: ruby
before_install:
  - "gem install bundler --no-ri --no-rdoc"
  - "curl -sL https://s3.bixby.io/wad > ~/wad"
  - "chmod +x ~/wad"
install:
  - "travis_retry ~/wad"
before_script:
  - "./script/ci_setup.sh"
script: "bundle exec micron test/unit/"
after_script:
  - "bundle exec rake coverage"
  - "bundle exec rake coveralls"
  - "bundle exec brakeman -q"

rvm:
  - 2.1.5
  - 2.2.0

branches:
  only:
    - master

services:
  - mongodb

env:
  global:
    - RAILS_ENV=test
    - S3_REGION="us-east-1"
    - S3_BUCKET_NAME="io.bixby.gemcache.wad.manager"
    - secure: lu64MFbDbbPVJXsSdwu/nuwrkIaUY3sDZmLx3XvWt3AArd7IoFPztmNfq8+PtqM0FVF40mp5rYPs5tsAldhYc1LG0bQLrIuXd2nL5N7FyZ63wbKWACTOrZ/lVqmzW1f0RahP7ZPshdYTTZqBORkBtPn47AQUxK+Unsd+zuNt7pU=
