
div.check {
  h5 {
    text-transform: uppercase;
  }
}

div.metric {

  &.col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }

  @media (min-width: $screen-sm-min) {
    &.col-xs-12 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }


  float: left;
  margin-top: 10px;

  .box {

    width: 100%;
    border: 1px solid #DDD;
    border-radius: 4px;
    padding-left: 10px;

    .graph_container {
      .y_axis {
        float: left;
        left: -10px;
      }
      .x_tick {
        div.title {
        }
      }
      .graph {
        overflow: hidden;
        position: relative;
        left: -25px;
        width: 100%;
        height: 100px;
        .na {
          height: 50px;
        }
        &.zoom {
          cursor: pointer;
        }
        &.pan {
          cursor: move;
        }
      }
    }

    h5.title {
      text-transform: uppercase;
    }

    h6.footer {
      margin-top: 20px;
    }

  }

}

div.metric.detail {
  border: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  .graph_container {
    .graph {
      overflow: hidden;
      height: 400px;
      width: 100%;
    }
  }
}

div.spacer {
  clear: both;
  height: 0px;
}
