
@import "twitter/variables";
@import "twitter/mixins";

div.check {
  // @include gridSystem-columns($gridGutterWidth, $gridColumnWidth, $gridRowWidth, 4);
  h4 {
    padding-top: 15px;
  }
  h5 {
    text-transform: uppercase;
  }
}

div.metric {
  float: left;
  width: 330px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  // padding-left: 20px;
  border: 1px solid #999999;

  .graph_container {
    // position: relative;
    padding-top: 10px;
    .y_axis {
      float: left;
      // position: absolute;
      left: -10px;
      // width: 40px;
      // top: 0;
    }
    .x_tick {
      div.title {
        // top: 100px;
      }
    }
    .graph {
      position: relative;
      left: -25px;
      width: 330px;
      height: 100px;
      .na {
        height: 50px;
      }
    }
  }

  h5.title {
    text-transform: uppercase;
  }

  h6.footer {
    margin-top: 5px;
  }
}

div.metric.detail {
  border: 0;
  width: 95%;
  .graph_container {
    width: auto;
    height: 400px;
    .graph {
      height: auto;
    }
  }
}

div.spacer {
  clear: both;
  height: 0px;
}

// graph controls
div.graph_controls {
  div.zoom_level {
    padding-top: 10px;
    select {
      padding-left: 5px;
    }
  }
}
