
div.check {
  h4 {
    padding-top: 15px;
  }
  h5 {
    text-transform: uppercase;
  }

  .graph_controls {
    .btn-toolbar {
      float: right;
    }
  }
}

div.metric {
  float: left;
  width: 330px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #999999;

  .graph_container {
    padding-top: 10px;
    .y_axis {
      float: left;
      left: -10px;
    }
    .x_tick {
      div.title {
      }
    }
    .graph {
      position: relative;
      left: -25px;
      width: 330px;
      height: 100px;
      .na {
        height: 50px;
      }
    }
  }

  h5.title {
    text-transform: uppercase;
  }

  h6.footer {
    margin-top: 20px;
    margin-left: 30px;
  }
}

div.metric.detail {
  border: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  .graph_container {
    padding-top: 0;
    width: auto;
    height: 400px;
    .graph {
      width: auto;
      height: auto;
    }
  }
}

div.spacer {
  clear: both;
  height: 0px;
}
