
div.check {
  h4 {
    padding-top: 15px;
  }
  h5 {
    text-transform: uppercase;
  }

  .graph_controls {
    .btn-toolbar {
      float: right;
    }
  }
}

div.metric {

  &.col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }

  @media (min-width: $screen-sm-min) {
    &.col-xs-12 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }


  float: left;
  margin-top: 10px;

  .box {

    width: 100%;
    border: 1px solid #DDD;
    border-radius: 4px;
    padding-left: 10px;

    .graph_container {
      padding-top: 10px;
      .y_axis {
        float: left;
        left: -10px;
      }
      .x_tick {
        div.title {
        }
      }
      .graph {
        position: relative;
        left: -25px;
        width: 100%;
        height: 100px;
        .na {
          height: 50px;
        }
        &.zoom {
          cursor: pointer;
        }
        &.pan {
          cursor: move;
        }
      }
    }

    h5.title {
      text-transform: uppercase;
    }

    h6.footer {
      margin-top: 20px;
      margin-left: 30px;
    }

  }

}

div.metric.detail {
  border: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  .graph_container {
    padding-top: 0;
    width: auto;
    height: 400px;
    .graph {
      width: auto;
      height: auto;
    }
  }
}

div.spacer {
  clear: both;
  height: 0px;
}
