:plain
  namespace 'Bixby.tmpl.inventory', (exports, top) ->


-#------------------------------------------------------------------------------
-# layout template
:plain
    exports.layout = """
%div.content-inner
  %h2 Inventory
  / = lorem_ipsum()

  %div.host_table
:plain
    """

-#------------------------------------------------------------------------------
-# host_table template
:plain
    exports.host_table = """
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Hostname
      %th IP
      %th Actions

  %tbody

    <% hosts.each(function(host) { %>
    %tr.actionable
      %td.button.dropdown{ "data-dropdown" => "dropdown" }
        %a.inventory_host_link{ :host_id => "<%= host.get('id') %>" } <%= host.get("ip") %>

        / %div.btn-group
        /   %a.btn.action_btn.dropdown-toggle{ :href => "#", "data-toggle" => "dropdown" }
        /     = image_tag "wrench_orange.png"
        /   %ul.dropdown-menu
        /     %li
        /       = link_to "Monitoring", monitoring_host_path(host.id)
        /     %li
        /       %a{ :href => "#" } Delete Host

      %td
      %td
        %a.inventory_host_link{ :host_id => "<%= host.get('id') %>" } <%= host.get("ip") %>
      %td
        %a.monitoring_host_link{ :host_id => "<%= host.get('id') %>" } Monitoring
    <% }); %>
:plain
    """
