:plain
  return """
%div.navbar.navbar-fixed-top
  %div.navbar-inner
    %div.container-fluid
      %a.brand BIXBY
      %ul.nav
        %li.tab.inventory
          %a Inventory
        %li.tab.monitoring
          %a Monitoring

      %ul.nav.secondary-nav.pull-right
        %li.dropdown
          %a.dropdown-toggle{ :href => "#href1", "data-toggle" => "dropdown" } Chetan
          %ul.dropdown-menu
            %li
              %a{ :href => "#" } Preferences
            %li
              %a{ :href => "#" } Logout


      %form.navbar-search.pull-right
        %input{ :type => "text", "placeholder" => "Search" }


%div.container-fluid
  %div.row-fluid
    %div.span2
      %div.well
        %h5 Sidebar
        %ul
          %li Foobar
          %li asdf

    %div#content.span10
:plain
  """
