%div.content-inner
  %h2 Monitoring
  = lorem_ipsum

  %h3= @host.ip

  - if @resources.empty? then
    %p No resources have been configured
    %p
      = link_to "Add Resource", new_monitoring_host_resource_path(@host.id), { :class => "btn primary" }

  - else

