:plain
  return """
%div.content-inner
  %h2 Add Resource
  %p
    Host: <%= host.get("ip") %>

  %h3 Select a resource check from the list below:

  %form{ :id => "form_select_check", :method => "get" }
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th
          %th Name
          %th Bundle
          %th Script
      %tbody
      <% commands.each(function(cmd) { %>
      %tr
        %td
          %input.checkbox{ :type => "checkbox", :id => "command_id_<%= cmd.id %>", :value => "<%= cmd.id %>"}
        -#= radio_button_tag(:command_id, cmd.id)
        %td
          %label{ :for => "command_id_<%= cmd.id %>" }
            <%= cmd.get("name") %>
        %td
          %label{ :for => "command_id_<%= cmd.id %>" }
            <%= cmd.get("bundle") %>
        %td
          %label{ :for => "command_id_<%= cmd.id %>" }
            <%= cmd.command() %>

      <% }); %>

    %div.command_opts

    %a{ :id => "submit_check", :class => "btn primary" } Add Check(s)

:plain
  """
