
development:
  secret_token: "secret"
  archie_secret_key: "secret"
  archie_pepper: "secret"
  otp_secret_encryption_key: "secret"
  mailer_from: "Bixby Support <support@example.com>"
  default_tenant: "pixelcop"
  default_tenant_pw: "test"
  manager:
    root: "/opt/mgr"
    uri:  "http://localhost:3000"
  redis: "localhost:6379"
  scheduler: "resque"
  metrics: "opentsdb"
  opentsdb:
    host: "localhost"
    port: 4242
  twilio:
    account_sid:
    auth_token:


test:
  secret_token: "secret"
  archie_secret_key: "secret"
  archie_pepper: "secret"
  otp_secret_encryption_key: "secret"
  mailer_from: "Bixby Support <support@example.com>"
  default_tenant: "pixelcop"
  default_tenant_pw: "test"
  manager:
    root: "/opt/mgr"
    uri:  "http://localhost:3000"
  redis: "localhost:6379"
  scheduler: "resque"
  metrics: "opentsdb"
  opentsdb:
    host: "localhost"
    port: 4242
  twilio:
    account_sid:
    auth_token:


production:
  secret_token: "secret"
  archie_secret_key: "secret"
  archie_pepper: "secret"
  otp_secret_encryption_key: "secret"
  mailer_from: "Bixby Support <support@example.com>"
  # used to seed db with an initial tenant
  default_tenant: "pixelcop"
  default_tenant_pw: "test"
  # used by deployment scripts
  ruby:   "ruby-1.9.3-p385"
  rvm:    "system" # system or user
  user:   "bixby"
  group:  "bixby"
  # bixby config
  manager:
    root: "/opt/mgr"
    uri:  "http://localhost:3000"
  redis: "localhost:6379"
  scheduler: "resque"
  metrics: "opentsdb"
  opentsdb:
    host: "localhost"
    port: 4242
  twilio:
    account_sid:
    auth_token:
