
development:
  manager:
    root: "/opt/mgr"
    uri:  "http://localhost:3000"
  redis: "localhost:6379"
  scheduler: "resque"
  metrics: "opentsdb"
  opentsdb:
    host: "localhost"
    port: 4242
  twilio:
    account_sid:
    auth_token:


test:
  manager:
    root: "/opt/mgr"
    uri:  "http://localhost:3000"
  redis: "localhost:6379"
  scheduler: "resque"
  metrics: "opentsdb"
  opentsdb:
    host: "localhost"
    port: 4242
  twilio:
    account_sid:
    auth_token:


production:
  manager:
    root: "/opt/mgr"
    uri:  "http://localhost:3000"
  redis: "localhost:6379"
  scheduler: "resque"
  metrics: "opentsdb"
  opentsdb:
    host: "localhost"
    port: 4242
  twilio:
    account_sid:
    auth_token:
