
development:
  secret_token: "secret"
  devise_secret_token: "secret"
  devise_pepper: "secret"
  default_tenant: "pixelcop"
  default_tenant_pw: "test"
  manager:
    root: "/opt/mgr"
    uri:  "http://localhost:3000"
  redis: "localhost:6379"
  scheduler: "resque"
  metrics: "opentsdb"
  opentsdb:
    host: "localhost"
    port: 4242
  twilio:
    account_sid:
    auth_token:


test:
  secret_token: "secret"
  devise_secret_token: "secret"
  devise_pepper: "secret"
  default_tenant: "pixelcop"
  default_tenant_pw: "test"
  manager:
    root: "/opt/mgr"
    uri:  "http://localhost:3000"
  redis: "localhost:6379"
  scheduler: "resque"
  metrics: "opentsdb"
  opentsdb:
    host: "localhost"
    port: 4242
  twilio:
    account_sid:
    auth_token:


production:
  # Your secret key for verifying the integrity of signed cookies.
  # If you change this key, all old signed cookies will become invalid!
  # Make sure the secret is at least 30 characters and all random,
  # no regular words or you'll be exposed to dictionary attacks.
  secret_token: ""
  devise_secret_token: ""
  devise_pepper: ""
  # used to seed db with an initial tenant
  default_tenant: "pixelcop"
  default_tenant_pw: "test"
  # used by deployment scripts
  ruby:   "ruby-1.9.3-p385"
  rvm:    "system" # system or user
  user:   "bixby"
  group:  "bixby"
  # bixby config
  manager:
    root: "/opt/mgr"
    uri:  "http://localhost:3000"
  redis: "localhost:6379"
  scheduler: "resque"
  metrics: "opentsdb"
  opentsdb:
    host: "localhost"
    port: 4242
  twilio:
    account_sid:
    auth_token:
