development:
  sessions:
    default:
      database: bixby_metrics_development
      hosts:
        - localhost:27017
      options:
test:
  sessions:
    default:
      database: bixby_metrics_test
      hosts:
        - localhost:27017
      options:
        max_retries: 1
        retry_interval: 0
