
div.host_list {
  div.host {
    margin-top: 10px;
    div.body {
      span.edit {
        display: none;
      }
    }
    div.body:hover {
      span.edit {
        display: inline;
      }
    }
    div.editor {
      display: none;
      margin-bottom: 10px;
      margin-top: 10px;
      a.save {
        margin-left: 10px;
      }
    }
    div.actions {
    }
  }
}
