
div.host_list {
}

div.host {
  margin-bottom: 10px;

  div.body {
    span.edit {
      display: none;
    }
    blockquote p {
      /* override some normal bootstrap blockquote styles */
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
    }
  }

  div.body:hover {
    span.edit {
      display: inline;
    }
  }

  div.actions {
  }

  div.metadata {
    margin-left: 0;
  }

  table.metadata {
    margin-top: 10px;
    display: block;
    overflow: auto;
    max-height: 400px;
  }

}

div.host_editor {
  textarea {
    height: 95px;
  }
  a.save {
    margin-left: 10px;
  }
  p.markdown {
    color: grey;
    font-size: smaller;
    margin-top: -10px;
    padding: 0;
    text-align: right;
    a {
      color: grey;
      font-weight: bold;
    }
  }
}

body.modal-open {
  padding: 0 !important;
}
