
input.install {
  font-family: $font-family-monospace;
  font-size: 12px;
  width: 500px;
  cursor: default !important; // override bootstrap styles for readonly fields
  background-color: white;
}

ul.tags {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
    display: inline-block;
  }
}

div.host {
  margin-bottom: 10px;

  div.body {
    blockquote p {
      /* override some normal bootstrap blockquote styles */
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
    }
    h3 {
      margin-bottom: 5px;
      ul.tags {
        display: inline;
        font-size: 14px;
        vertical-align: middle;
      }
    }
    div.tags {
      margin-bottom: 10px;
      ul.tags {
        display: inline;
      }
    }
  }

  div.desc .panel-body {
    padding: 5px 10px;
  }

  button.refresh-facts {
    margin-top: -5px;
  }

  div.metadata {
    margin-left: 0;
  }

  table.metadata {
    display: block;
    overflow: auto;
    max-height: 400px;
  }

}

div.host_list {
  div.host {
    h3 {
      margin-bottom: 0;
    }
  }
}

div.inventory {
  div.popover {
    width: 600px;
    max-width: 600px;
    textarea {
      cursor: default !important;
    }
  }
}

div.host_editor {
  label.desc {
    margin-bottom: 0;
  }
  textarea.desc {
    height: 95px;
    margin-bottom: 0;
  }
  a.save {
    margin-left: 10px;
  }
  p.markdown {
    color: grey;
    font-size: smaller;
    margin-top: 0;
    padding: 0;
    text-align: right;
    a {
      color: grey;
      font-weight: bold;
    }
  }
}

body.modal-open {
  padding: 0 !important;
}
