
input.install {
  @include font-family-monospace;
  font-size: 12px;
  width: 500px;
  // override bootstrap styles for readonly fields
  cursor: default;
  background-color: white;
}

div.host_list {
}

ul.tags {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
    display: inline;
  }
}

div.host {
  margin-bottom: 10px;

  div.body {
    span.edit {
      display: none;
    }
    blockquote p {
      /* override some normal bootstrap blockquote styles */
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
    }
    h3 {
      margin-bottom: 0;
    }
    div.tags {
      margin-bottom: 10px;
    }
  }

  div.body:hover {
    span.edit {
      display: inline;
    }
  }

  div.actions {
  }

  div.metadata {
    margin-left: 0;
  }

  table.metadata {
    display: block;
    overflow: auto;
    max-height: 400px;
    .popover {
      width: 400px;
    }
  }

}

div.host_editor {
  textarea {
    height: 95px;
  }
  a.save {
    margin-left: 10px;
  }
  p.markdown {
    color: grey;
    font-size: smaller;
    margin-top: -10px;
    padding: 0;
    text-align: right;
    a {
      color: grey;
      font-weight: bold;
    }
  }
}

body.modal-open {
  padding: 0 !important;
}
