
@import "bootstrap";

@import "navbar";
@import "inventory";
@import "monitoring";
@import "profile";

.control-label .markdown > p {
  margin: 0;
}

td.button {
  width: 60px;
  ul.button {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

a {
  cursor: pointer;
}

.btn .spinner {
  margin: 0 auto 0 auto;
  top: -10px;
}

i.red {
  color: #bd362f;
}

div.valid {
  font-size: normal;
  text-align: right;
  &.pass {
    color: $state-success-text;
  }
  &.fail {
    color: $state-danger-text;
  }
}

div.markdown {
  p:last-of-type {
    margin-bottom: 0;
  }
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

pre.prettyjson {
  .string { color: green; }
  .number { color: darkorange; }
  .boolean { color: blue; }
  .null { color: magenta; }
  .key { color: red; }
}

.start_hidden {
  display: none;
}
