
@import "bootstrap";

@import "navbar";
@import "inventory";
@import "monitoring";
@import "profile";
@import "team";
@import "runbooks";

div#content {
  margin-top: -10px; // used to offset the hidden progress bar
}

.control-label .markdown > p {
  margin: 0;
}

tr.divider {
  background-color: #DDD;
}

td.button {
  width: 60px;
  ul.button {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

a {
  cursor: pointer;
}

.btn .spinner {
  margin: 0 auto 0 auto;
  top: -10px;
}

.green, .success {
  color: $brand-success;
}
.red, .danger {
  color: $brand-danger;
  // color: #bd362f;
}
.yellow, .warning {
  color: $brand-warning;
}

div.valid {
  font-size: normal;
  text-align: right;
  &.pass {
    color: $state-success-text;
  }
  &.fail {
    color: $state-danger-text;
  }
}

div.markdown {
  p:last-of-type {
    margin-bottom: 0;
  }
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

pre.prettyjson {
  .string { color: green; }
  .number { color: darkorange; }
  .boolean { color: blue; }
  .null { color: magenta; }
  .key { color: red; }
}

.start_hidden {
  // elements with this class will be hidden using $.hide() on render
}

// used by bootstrap_modal_patch.js
.scrollbar-measure {
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

.fa.form-control-feedback {
  // .fa overrides the line-height so we need to fix it here
  line-height: 34px !important;
}

.pager-right {
  @extend .pager;
  text-align: right;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  &.underline {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 9px;
  }
}

// tweak select2
ul.select2-choices {
  li.select2-search-choice {
    margin-top: 6px !important;
  }
}
