
@import "twitter/bootstrap";

body {
    padding-top: 60px;
}

td.button {
    width: 60px;
    ul.button {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

a.action_btn {
    font-size: 11px;
    padding: 2px 6px;
    display: none;
    position: absolute;
    /*right: 76px;*/
    top: 8px;
}

tr.actionable:hover td:first-child a.action_btn {
    display: inline-block;
}

a {
  cursor: pointer;
}

@import "inventory";
@import "monitoring";

.btn .spinner {
    margin: 0 auto 0 auto;
    top: -10px;
}

img.gravatar {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 #FFFFFF;
}

img.gravatar-large {
    height: 128px;
    width:  128px;
}

ul.user-menu {
    margin-left: 5px !important;
    li.dropdown a {
        padding: 5px 5px;
    }
}

.navbar-search {
    input {
        margin-bottom: 0;
    }
}

/* PROFILE PAGE */
h2 {
    span {
        display: inline-block;
    }
}

form span.valid {
    font-size: larger;
    &.pass {
        color: green;
    }
    &.fail {
        color: red;
    }
}
