
@import "monitoring/hosts.css.scss";
@import "monitoring/check_templates.css.scss";

span.default-opt {
  font-weight: normal;
  font-size: smaller;
}

div.command_opts {
  .has-feedback .form-control-feedback {
    color: #C7254E;
  }

  p.help-block {
    font-size: smaller;
  }
}

div.check_editor {
  .has-feedback .form-control-feedback {
    color: #C7254E;
   }
}

// graph-related
.dygraph-axis-label {
  font-size: 10px;
}
div.metric div.tooltip {
  pointer-events: none;
}
