
@import "monitoring/hosts.css.scss";
@import "monitoring/check_templates.css.scss";

span.default-opt {
  font-weight: normal;
  font-size: smaller;
}

div.command_opts {
  .has-feedback .form-control-feedback {
    color: #C7254E;
  }

  p.help-block {
    font-size: smaller;
  }
}

div.check_editor {
  .has-feedback .form-control-feedback {
    color: #C7254E;
   }
}

// graph-related
.dygraph-axis-label {
  font-size: 10px;
}

// tooltips
div.metric div.tooltip {
  pointer-events: none;
  @media (min-width: $screen-sm-min) {
    div.tooltip-inner {
      max-width: none;
    }
  }
  @media (max-width: $screen-xs-max) {
    div.tooltip-inner {
      white-space: normal;
    }
  }
}

@import "monitoring/overview_sparkline";

div.monitoring {
  div.graph_container {
    position: relative;
    top: 0;
    left: 0;

    .value {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0 6px 0 6px;
      font-family: "Helvetica Neue",Helvetica,sans-serif;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      white-space: nowrap;
      display: none;
      pointer-events: none;
    }
  }

  .line {
    top: 0;
    display: none;
    background-color: black;
    position: absolute;
    pointer-events: none;
  }
  .xline {
    height: 100%;
    width: 1px;
  }
}

@import "monitoring/fullscreen";
