
@import "monitoring/hosts.css.scss";
@import "monitoring/check_templates.css.scss";

span.default-opt {
  font-weight: normal;
  font-size: smaller;
}

div.command_opts {
  .has-feedback .form-control-feedback {
    color: #C7254E;
  }

  p.help-block {
    font-size: smaller;
  }
}

div.check_editor {
  .has-feedback .form-control-feedback {
    color: #C7254E;
   }
}

// graph-related
.dygraph-axis-label {
  font-size: 10px;
}
div.metric div.tooltip {
  pointer-events: none;
}

// sparklines
td.metric_label {
  text-align: right;
  vertical-align: middle;
}
div.sparkline {
  div.graph_container {
    div.graph {
      position: relative;
      width: 100px;
      height: 1.42857;
    }
  }
}

div.monitoring {
  div.host_overview {
    div.wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      div.sparkline_bg {
        background: #f5f5f5;

        div.sparkline {
          .value {
            position: absolute;
            right: 0;
            top: 0;
            margin: 0 6px 0 6px;
            line-height: 30px;
            font-family: "Helvetica Neue",Helvetica,sans-serif;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
            white-space: nowrap;
            display: none;
            pointer-events: none;
          }
        }
      }
    }
  }



  .line {
    top: 0;
    display: none;
    background-color: black;
    position: absolute;
    pointer-events: none;
  }
  .xline {
    height: 100%;
    width: 1px;
  }
}

.fullscreen_div {
  display:    block;
  box-sizing: border-box;
  position:   absolute;
  bottom:     0;
  top:        0;
  left:       0;
  right:      0;
  height:     auto;
  width:      auto;
}

div.fullscreen {
  @extend .fullscreen_div;
  background: none repeat scroll 0 0 white;

  button.return {
    position: absolute;
    top:      5px;
    left:     61px;
    opacity:  0.7;
    z-index:  9999999;
  }

  div.metric {
    margin: 5px 0 5px 0;
    float:  none;
  }

  div.metric, div.graph_container, div.graph {
    @extend .fullscreen_div;
  }
}
