
.navbar {
  margin-bottom: 0;
}

@media (max-width: $screen-xs-max) {
  .navbar-nav {
    margin: 7px 0;
  }
}


nav {

  // split dropdown begin
  .btn.navbar-btn.dropdown-toggle {
    padding: 3px 6px;
    padding-top: 0;
    margin-top: 13px;
  }

  li.tab.primary a {
    padding-right: 8px;
  }

  li.dropdown.split {
    padding-right: 6px;
    padding-bottom: 4px;
  }

  li.dropdown.split.active {
    background-color: #e7e7e7;
  }
  // split dropdown end

  ul.user {
    padding-left: 10px;
    @media (max-width: $screen-xs-max) {
      padding-left: 0;
    }

    li.tab.user a.dropdown-toggle {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    i {
      width: 15px;
      text-align: center;
    }
  }

  // default search input is too small, make it a bit bigger
  form.nav_search {
    input.form-control {
      @include transition(width 0.1s ease);
      width: 250px;
    }
    input.form-control:focus {
      @include transition(width 0.2s ease);
      @media (min-width: $screen-md-min) { width: 400px; }
      @media (min-width: $screen-lg-min) { width: 400px; }
    }
  }

  .navbar-right {
    margin-right: 0;
  }

  div.navbar-collapse {
    padding-right: 0;
  }
  a.help {
    @media (min-width: $screen-sm-min) {
      margin: 10px 0 0 12px;
      padding: 0;
      color: #b3b3b3;
    }
    @media (max-width: $screen-xs-max) {
      margin: 0;
      color: $navbar-default-color;
    }
  }
}

div.help.alert {
  margin-top: 15px
}

img.gravatar {
  height: 40px;
  width: 40px;
  @media (max-width: $screen-xs-max) {
    height: 20px;
    width: 20px;
  }
  margin-left: 10px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 0 #FFFFFF;
}

// page load progress bar

div.progress.loading {
  height: 10px;
  margin-bottom: 0;
  border-radius: 0;
}

div.progress.loading.hiding {
  // hide our progress bar
  @include transition(opacity 0.5s ease);
  opacity: 0;
}

div.progress-bar {
  @include transition(width 0s); // instant reset
  width: 0;
}

div.progress-bar.loading {
  // slowly load to a max of 95%
  @include transition(width 5s ease);
  width: 95% !important;
}

div.progress-bar.loaded {
  // quickly move to 100%
  @include transition(width 0.2s ease);
  width: 100% !important;
}
