
div#content.runbooks {

  i.fa-refresh.spinner {
    vertical-align: middle;
    margin-left: 15px;
  }

  .command_logs {
    th.status, td.status {
      width: 50px;
    }
  }

  .panel.scheduled_command {
    li .input-group {
      margin: 3px 6px;
      width: auto;
    }
  }

}

.select2-result-label {
  span.tags {
    color: rgb(211, 203, 203);
    float: right;
  }
}
