
div#content.runbooks {

  i.fa-refresh {
    vertical-align: middle;
    margin-left: 15px;
  }

  .command_logs {
    th.status, td.status {
      width: 50px;
    }
  }

}

.select2-result-label {
  span.tags {
    color: rgb(211, 203, 203);
    float: right;
  }
}
