!!! 1.1
%html
  %head
    %title devops!
    = stylesheet_link_tag "main"
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body

    %div.topbar
      %div.topbar-inner
        %div.container-fluid
          %a.brand{ :href => "/inventory" } Devops!
          %ul.nav
            %li.active
              %a{ :href => "/inventory" } Inventory
            %li
              %a{ :href => "/inventory" } About
            %li
              %a{ :href => "/inventory" } Contact
          %p.pull-right
            Logged in as
            %a{ :href => "/inventory" } Chetan


    %div.container-fluid
      %div.sidebar
        %div.well
          %h5 Sidebar
          %ul
            %li Foobar
            %li asdf

      %div.content
        = yield

