!!! 1.1
%html
  %head
    %title BIXBY
    = stylesheet_link_tag "application"

  %body
    %div#body
      -# main content (JS layout) will go here

    %div.scripts
      = javascript_include_tag "application", "bixby"
      = render(:partial => "layouts/bootstrap", :locals => { :bootstrap => @bootstrap })
