!!! 1.1
%html{ :lang => I18n.locale }
  %head
    %title BIXBY
    = csrf_meta_tag
    = javascript_include_tag "application", "bixby"
    = stylesheet_link_tag "application"

  %body
    %div#body
      -# main content (JS layout) will go here

    = render(:partial => "layouts/bootstrap", :locals => { :bootstrap => @bootstrap })
