<p>Hello <%= @user.name || @user.email %>!</p>

<p>Someone has invited you to Bixby, you can accept it through the link below.</p>

<p><%= link_to 'Accept invitation', accept_invite_url(:token => @token) %></p>

<p>If you don't want to accept the invitation, please ignore this email.</p>
<p>Your account won't be created until you access the link above and set your password.</p>
