
= content_for :bootstrap do

  :javascript
    Bixby.app.bootstrap({
      host: new Bixby.model.Host(#{@host.to_json}),
      commands: (new Bixby.model.MonitoringCommandList()).reset(#{@commands.to_json(:collaborators => true)})
    })

  - if @command
    :javascript
      Bixby.app.bootstrap({
        command: new Bixby.model.MonitoringCommand(#{@command.to_json})
      })
